/* Home.css */
.home-container {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right,rgb(35, 240, 35),rgb(230, 230, 5));
    height: 100vh;
  }

  .header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
  }

  .main-content {
    margin: 20px;
  }

  .logout-button {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }

  .footer {
    background-color: #f8f9fa;
    padding: 10px;
  }
  .btnn{

    border-style: none;
    padding: 5px;
    color: blue;
    border-radius: 10px;
  }
  .btnn a{
    text-decoration: none;
  }
