
/* Center the content vertically and horizontally */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }

  /* Common styles for the form container */
  .form-container {
    height: auto;
    width: 50vh;
    padding: 5px;
    background-color: rgb(19, 6, 66);
    box-shadow: 5px 5px 5px rgb(93, 92, 92);
    border-radius: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  /* Gradient background */
  .gradient-bg {
    background: -webkit-repeating-linear-gradient(
      blue,
      white,
      yellow,
      pink
    );
  }

  /* Heading styles */
  label {
    margin: 5px;
  }
  button {
    background-color: white;
    border-style: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
  }
  Link{
    text-decoration: none;
  }
  button + button {
    margin-left: 10px;

  }
